<h1>Prontuário #<%= patient.id %></h1>

<form method="post" action="/patients/<%= patient.id %>" class="card">
  <label>Nome</label>
  <input name="full_name" value="<%= patient.full_name %>">
  <label>Profissão</label>
  <input name="profession" value="<%= patient.profession || '' %>">
  <label>Convênio</label>
  <select name="insurance_id">
    <option value="">-- sem convênio --</option>
    <% insurances.forEach(i => { %>
      <option value="<%= i.id %>" <%= patient.insurance_id===i.id?'selected':'' %>><%= i.name %></option>
    <% }) %>
  </select>
  <button>Salvar alterações</button>
</form>
